data/
raw_data/
.DS_Store
dist/
build/
logs/
config.yaml

metaDMG-lca
.memoization

*.lca
*.lca.stat
*.uglyprint.*
*.bam.bin
*.csv

build.sh
publish.sh
pdf_export.pdf

file.log
dask-worker-space/
bla*
*.egg-info/
*.eggs